{% extends "templates/template_main.html" %}

{% block extra_includes %}
{% endblock %}

{% block title %}Coup de pouce : voir activité{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <h2>{{ activity.title }}</h2>
            <ul>
                {% for question in activity.questions %}
                <li>
                    {{ question.title }}
                    <ul>
                        {% for helping_hand in question.helping_hands %}
                        <li><a href="/student/show-helping-hand/{{ classroom.id }}/{{ activity.id }}/{{ question.id }}/{{ helping_hand.id }}">
                            Accéder au coup de pouce {{ helping_hand.n_helping_hand }}
                        </a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}