{% extends 'templates/template_main.html' %}

{% block content %}

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <h1>À propos des coups de pouce</h1>
            <p>Le site des coups de pouce a été créé afin de permettre aux enseignants de
            proposer des activités différenciées en fonction du niveau de leurs élèves.</p>

            <h2>Exemple d'utilisation</h2>
            <p>Un professeur crée une activité documentaire à préparer à la maison pour
            ses élèves. Cependant il voudrait pouvoir donner de l'aide aux
            élèves qui en ont besoin. Pour ce faire, il indique à certains
            endroit de son activité que des coups de pouce sont disponibles (par
            exemple à la question 1.1 deux coups de pouces sont disponibles,
            le premier rappelant une définition, le deuxième indiquant la formule
            à utiliser).<br>
            Le professeur crée ensuite les coups de pouce correspondants sur le site
            internet. Les élèves en difficulté peuvent ainsi à tout moment se connecter à leur compte
            et accéder aux coups de pouce souhaités. Leur demande est enregistrée
            dans le système et le professeur a accès à l'historique d'utilisation
            des coups de pouce. Cela lui permet de savoir où en sont les élèves dans leur
            apprentissage et d'adapter ses cours en fonction.</p>

            <p>Afin de ne pas discriminer (involontairement ou pas) les élèves,
            l'horaire d'accès aux coups de pouce est enregistré, mais n'est pas
            accessible au professeur. Seule la date de l'accès et la plage horaire
            (matin : minuit jusque midi, après-midi : midi jusque minuit)
            est affichée dans l'historique.</p>
        </div>
    </div>
</div>

{% endblock %}