{% extends 'templates/template_main.html' %}

{% block content %}

<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <h3 style="text-align: center;">Coupdepouce Privacy Policy</h3>

            <p>This privacy policy will explain how our website uses the personal data we collect from you when you use our website.</p>

            <p>Topics:</p>
            <ul>
                <li>What data do we collect?</li>
                <li>How do we collect your data?</li>
                <li>How will we use your data?</li>
                <li>How do we store your data?</li>
                <li>Marketing</li>
                <li>What are your data protection rights?</li>
                <li>What are cookies?</li>
                <li>How do we use cookies?</li>
                <li>What types of cookies do we use?</li>
                <li>How to manage your cookies</li>
                <li>Privacy policies of other websites</li>
                <li>Changes to our privacy policy</li>
                <li>How to contact us</li>
                <li>How to contact the appropriate authorities</li>
            </ul>

            <h3>What data do we collect?</h3>
            <p>Coupdepouce collects the following data:</p>
            <ul>
                <li>Personal identification information (Name, email address, etc.).</li>
                <li>We keep the last date you logged in in our database.</li>
            </ul>

            <h3>How do we collect your data?</h3>
            <p>You directly provide Coupdepouce with most of the data we collect. We collect data and process data when you:</p>
            <ul>
                <li>Register online.</li>
                <li>Login.</li>
            </ul>

            <h3>How will we use your data?</h3>
            <p>Coupdepouce collects your data so that we can:</p>
            <ul>
                <li>Manage your account.</li>
                <li>Keep you logged in until you logout.</li>
            </ul>

            <h3>How do we store your data?</h3>
            <p>We securely stores your data on a MySQL database. Passwords are salted and hashed (i.e. no password is saved in plain text).</p>

            <h3>Marketing</h3>
            <p>Coupdepouce will never send you any commercial emails. We may send you emails to keep you update of new Privacy Policies.</p>

            <h3>What are your data protection rights?</h3>
            <p>Coupdepouce would like to make sure you are fully aware of all of your data protection rights.
            Every user is entitled to the following:</p>
            <p><strong>The right to access</strong> – You have the right to request Coupdepouce for copies of your personal data.</p>
            <p><strong>The right to rectification</strong> – You have the right to request that Coupdepouce correct any information
            you believe is inaccurate. You also have the right to request Coupdepouce to complete the information you believe is incomplete.</p>
            <p><strong>The right to erasure</strong> – You have the right to request that Coupdepouce erase your personal data, under certain conditions.</p>
            <p><strong>The right to restrict processing</strong> – You have the right to request that Coupdepouce restrict the processing of your
            personal data, under certain conditions.</p>
            <p><strong>The right to object to processing</strong> – You have the right to object to Coupdepouce’s processing of your personal data, under certain conditions.</p>
            <p><strong>The right to data portability</strong> – You have the right to request that Coupdepouce transfer the data that we have collected to
            another organization, or directly to you, under certain conditions.</p>
            <p>If you make a request, we have one month to respond to you.
            If you would like to exercise any of these rights, please contact us at our email: r[dot]romaincaneill[at]gmail[dot]com</p>

            <h3>Cookies</h3>
            <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information.
            When you visit our websites, we may collect information from you automatically through cookies or similar technology</p>
            <p>For further information, visit allaboutcookies.org.</p>

            <h3>How do we use cookies?</h3>
            <p>Coupdepouce uses cookies to keep you signed in, nothing more.</p>

            <h3>How to manage cookies</h3>
            <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser.
            However, the website would not work anymore (no possibility to log in).</p>

            <h3>Privacy policies of other websites</h3>
            <p>The Coupdepouce website contains links to other websites. Our privacy policy applies only to our website,
            so if you click on a link to another website, you should read their privacy policy.</p>

            <h3>Changes to our privacy policy</h3>
            <p>Coupdepouce keeps its privacy policy under regular review and places any updates on this web page.
            This privacy policy was last updated on 3 June 2020.</p>

            <h3>How to contact us</h3>
            <p>If you have any questions about Coupdepouce’s privacy policy, the data we hold on you, or you would like to exercise one
            of your data protection rights, please do not hesitate to contact us.</p>
            <p>Email us at: r[dot]romaincaneill[at]gmail[dot]com</p>
        </div>
    </div>
</div>
























{% endblock %}